body{
  font-family: 'Sanchez', serif !important;
  background-color: #faf5f2 !important;
}

.navigation{
  background-color: #FDC8C8;
  padding: 5px 50px !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: #ffffff !important;
}

.navbar-toggler{
  border: none !important;
}

button:focus{
  outline: none !important;
}

.fullLoader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: #faf5f2!important;
}

.fontDefault{
  text-align: center!important;
  letter-spacing: 1px;
  font-size: 18px!important;
}

.bgDefault{
  background-position: center!important;
  background-size: contain!important;
}

.noBg{
  color: #495057;
  background-color: #ffffff!important;
}

.love{
  color: #ffffff!important;
  background-image: url(./assets/images/love.jpg);
}

.angry{
  color: #ffffff!important;
  background-image: url(./assets/images/angry.jpg);
}

.think{
  color: #ffffff!important;
  background-image: url(./assets/images/think.jpg);
}

.mock{
  color: #ffffff!important;
  background-image: url(./assets/images/mock.jpg);
}

.lit{
  color: #ffffff!important;
  background-image: url(./assets/images/lit.jpg);
}


@media only screen and (max-width: 600px) {
  .navigation{
    background-color: #FDC8C8;
    padding: 5px 10px !important;
  }
}