body{
  font-family: 'Sanchez', serif !important;
  background-color: #faf5f2 !important;
}

.navigation{
  background-color: #FDC8C8;
  padding: 5px 50px !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: #ffffff !important;
}

.navbar-toggler{
  border: none !important;
}

button:focus{
  outline: none !important;
}

.fullLoader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: #faf5f2!important;
}

@media only screen and (max-width: 600px) {
  .navigation{
    background-color: #FDC8C8;
    padding: 5px 10px !important;
  }
}